<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Check Out</title>

	{% include "headers.html" %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Recieving Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="index.html">
						        		<p><input type="text" id="rname" placeholder="Name"></p>
						        		<p><input type="email" id="remail" placeholder="Email"></p>
						        		<p><input type="text" id="raddress" placeholder="full Destination Address"></p>
						        		<p><input type="tel" id="phone" placeholder="Phone"></p>
						        		<p><textarea name="message" id="sometext" cols="30" rows="10" placeholder="messages"></textarea></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Shipping Address
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Your shipping address form is here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!-- <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Your card details goes here.</p>
						        </div>
						      </div>
						    </div>
						  </div> -->
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>
                 {% if cartList !=None or len(cartList)>1 %}
                {% for row in cartList%}
								<tr>
									<td>{{row['pname']}}</td>
									<td><del>N</del> {{row['total']}}</td>
								</tr>
                 {% endfor %}
								{% endif %}
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td> <del>N</del>  {{total}}</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td><del>N</del> {{shipping}}</td>
								</tr>
								<tr>
									<td>Total</td>
									<td><del>N</del> {{shipping+total}}  </td>
                  <input type="hidden" value="{{shipping+total}}"  id="showtotal">
								</tr>
							</tbody>
						</table>
						<a href="#" id="porder"  class="boxed-btn">Place Order</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->
<script>
 $(document).ready(function () {


   document.getElementById("porder").addEventListener("click",function (e) {
     e.preventDefault()
     makePayment()
   })
   

function makePayment() {
  
 let rname=$("#rname").val();
 let remail=$("#remail").val();
 let raddress=$("#raddress").val();
 let phone=$("#phone").val();
 let sometext=$("#sometext").val();
let amount=$("#showtotal").val();
 
if(raddress && rname && remail && phone){
let url="https://seunaaua-1--rioland.repl.co/"


    let sendData={
      "reference":"response.reference",
      "transaction":"response.transaction",
      "trxref":"response.trxref",
      "amount":"amount",
      "trans":"response.trans",
      "remail":"email",
      "rname":"rname",
      "raddress":"raddress",
      "phone":"phone",
      "sometext":"sometext"
      
    }


        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 
                    'application/json;charset=utf-8'
            },
            body: JSON.stringify(sendData)
        }


        // Fake api for making post requests
        let fetchRes = fetch(url+"place-oder", options);
        fetchRes.then(res =>
            res.json()).then(d => {
                console.log(d)
             // window.location.reload()
            })

  
  // payWithPaystack(remail,amount,rname,raddress,phone,sometext)
}else{
          Swal.fire({
                  position: 'top-end',
                  icon: 'info',
                  title: "fill the recieving address",
                  showConfirmButton: false,
                  timer: 1500
                })
}
  

  
}




function payWithPaystack(email,amount,rname,raddress,phone,sometext) {
 let url="https://seunaaua-1--rioland.repl.co/"
// let url="https://seunaaua.onrender.com/"
     var ref = "ref" + Math.random().toString(16).slice(2)
  var handler = PaystackPop.setup({
    key: 'pk_test_66925f6a3b1f39d6a314942d9eeedc54cd23787d', // Replace with your public key
    email: email,
    amount: amount * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
    currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
    ref: ref, // Replace with a reference you generated
    callback: function(response) {
      if (response.status="success") {



        
        
      }else{
        Swal.fire({
                  position: 'top-end',
                  icon: 'info',
                  title: response["message"],
                  showConfirmButton: false,
                  timer: 1500
                })
      }


      
    },
    onClose: function() {
      Swal.fire({
                  position: 'top-end',
                  icon: 'info',
                  title: "Transaction was not completed, window closed.",
                  showConfirmButton: false,
                  timer: 1500
                })
      // alert('Transaction was not completed, window closed.');
    },
  });
  handler.openIframe();
}

   
 })
</script>
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
		{% include "footer.html" %}

</body>
</html>